<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Vue初めてのVue</title>
</head>
<body>

  <div id="app" class="container">
    <h1>
      <button @click="purge">Purge</button>
      My todos
      <span class="info">({{ remaining.length }} / {{ todos.length }})</span>
    </h1>
    <ul>
      <li v-for="(todo, index) in todos">
        <input type="checkbox" v-model="todo.isDone">
        <span v-bind:class="{done: todo.isDone}">{{ todo.title }}</span>
        <span v-on:click="deleteItem(index)" class="command">[消去]</span>
      </li>
      <li v-show="!todos.length">Nothing to do, yeah!</li>
    </ul>
    <form @submit.prevent="addItem">
      <input type="text" v-model="newItem">
      <input type="submit" value="Add">
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/main.js"></script>
  
</body>
</html>